<!DOCTYPE html>
    <html>
        <head>
	        <title>Yelp Camp</title>
	        
	        <link rel="stylesheet" type="text/css" href="app_styles.css">
	        
	        <!-- jQuery CDN Link -->
	        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>


	        <!-- BootstrapCDN -->
	        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	        <!-- BootstrapCDN Complete JavaScript -->
	        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
            
            <!-- Font awesome CDN link -->
	        <script src="https://use.fontawesome.com/2beabb5708.js"></script>
	        
	        <!-- google fonts -->
	        <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
        
        </head>