<body class="campgrounds">
<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Yelp Camp</h1>
        <p>View our handpicked campgrounds from all over the world</p>
        <p><a class="btn btn-info btn-lg" href="#" role="button">Add New Campground</a></p>
    </div>    
    
</div>


<% include partials/footer %>