<% include partials/header %>
<% include partials/navbar %>

<!-- code to show jumbotron    -->
<div class="container">

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><%=selectedCampground.name%> </h2>
    </div>
    <div class="panel-body">
        <img src=<%=selectedCampground.image%> alt=<%=selectedCampground.name%> class="img-rounded">
    </div>
    
    <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            <form class="form-inline" action="/campgrounds/<%=selectedCampground.id%>?_method=DELETE" method="POST" >
                <a href="#" class="btn btn-success" role="button" data-toggle="tooltip" data-placement="bottom" title="Edit This Campground"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
                <div class="form-group"><button class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete This Campground"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Delete</button></div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>