.landingPage{
	background: #136a8a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #136a8a , #267871); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #136a8a , #267871); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-position: center;
	background-size: cover;
	color: white;
}

.landingPage .container{
	text-align: center;
	padding-top: 10%;
	color: white;
	font-family: 'Cabin', sans-serif;

}

.landingPage .container h1{
	font-weight: 800;
	font-size: 4em;
	text-shadow: 0px 1px 7px rgba(0,0,0,0.6);
}

.landingPage .container h4{
	font-weight: 400;
	font-size: 2em;
	text-shadow: 0px 1px 7px rgba(0,0,0,0.6);
}

.landingPage .container hr{
	width: 50%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#footNote_hr{
    width: 100%;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

.thumbnails{
    display:flex; 
    flex-wrap:wrap;
}

.thumbnails img{
	width:100%;
}
#campgroundImage{
	width: 100%;
}

textarea{
	width: 100%;
}

.desc {
	text-align: justify;
	/*font-family: 'Cabin', sans-serif;*/
	font-size: 1.2em;
}

.name {
	color: black;
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	margin-top: 10px;
}

.price{
	margin-top: 0px;
}

.media-object{
	width: 64px;
	border: 0.1px solid rgba(0,0,0,0.1);
	padding: 5px 5px;
}